/* You can add global styles to this file, and also import other style files */

/* Angular Material Standard Theme (prebuilt) */
@import '@angular/material/prebuilt-themes/azure-blue.css';

/* Leaflet (OpenStreetMap) default styles */
@import 'leaflet/dist/leaflet.css';

:root {
  /* Ensures Angular Material typography uses this font everywhere */
  --mat-sys-body-large-font: "Arial", serif;
  --mat-sys-body-medium-font: "Arial", serif;
  --mat-sys-body-small-font: "Arial", serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Arial", serif;
}

body {
  overflow: hidden;
}
